<div class="conteiner-sales">
  <div class="conteiner-sales__filters">

    @for( day of days; track $index ){
      <button class="btn btn-summary"
       (click)="setActive(day)"
       [ngClass]="{'active-filter': activeDay === day}"
       >{{day.label}}</button>
    }

  </div>
  <div class="conteiner-sales__cards">
    <app-smoll-sumary-card [name]="'Ventas'" [amount]="salesTotal()" [color]="colorPrimary" [gradient]="colorPrimaryGradient" [money]="true"  />
    <app-smoll-sumary-card [name]="'Costo'" [amount]="costTotal()" [color]="colorWarning" [gradient]="colorWarningGradient" [money]="true" />
    <app-smoll-sumary-card [name]="'Cantidad'" [amount]="amoutnTotal()" [color]="colorDanger" [gradient]="colorDangerGradient" />
    <app-smoll-sumary-card [name]="'Por Confirmar'" [amount]="cofirmTotal()" [color]="colorSuccess" [gradient]="colorSuccessGradient"/>
  </div>
  <div class="conteiner-sales__links">
    <a class="text-success " [routerLink]="'lista-ventas'" routerLinkActive = "selected" >Detalle Ventas</a>
    <a class="text-success" [routerLink]="'estadisticas-ventas'" routerLinkActive = "selected" >Estadisticas</a>
  </div>
  <div class="conteiner-sales__principal">
    <router-outlet/>
  </div>
</div>
