<div class="conteiner-usercard">
  <div class="conteiner-usercard__img">
    <img src="../../../../../assets/images/avatar.jpg" alt="avatar">
  </div>
  <div class="conteiner-usercard__name">
    <span>Dario Alexander Gutierrez novoa</span>
  </div>
  <div class="conteiner-usercard__rol">
    <span>User</span>
  </div>
  <div class="conteiner-usercard__data">
    <a href="https://api.whatsapp.com/send?phone=573163528817" target="_blank">
      <div class="conteiner-usercard__data--phone">
          <i class="fa-brands fa-whatsapp"></i>
        <span>300 123 4567</span>
      </div>
    </a>
    <div class="conteiner-usercard__data--email">
      <a href="mailto:dario-yes@hotmail.com" target="_blank">
        <i class="fa-regular fa-envelope"></i>
        <span>{{'correo@correo.com'}}</span>
      </a>
    </div>
  </div>
    <div class="conteiner-usercard__actions">
      <i class="fa-solid fa-info text-info"></i>
      <i  class="fa-regular fa-pen-to-square text-warning"></i>
      <i class="fa-regular fa-trash-can text-danger"></i>
    </div>
</div>

