<div class="conteiner-usercard">
  <div
    [ngStyle]="{'border': '3px solid '+ color}"
    class="conteiner-usercard__img">
    <img [src]="image() ? image():'../../../../../assets/images/avatar.jpg'" [alt]="name()">
  </div>
  <div class="conteiner-usercard__name">
    <span>{{name() +' '+ lastName()}}</span>
  </div>
  <div class="conteiner-usercard__rol">
    <span>{{userRole()=== 'admin'?'admin':'Usuario'}}</span>
  </div>
  <div class="conteiner-usercard__data">
    <a [href]="'https://api.whatsapp.com/send?phone=57'+phone()" target="_blank">
      <div class="conteiner-usercard__data--phone">
          <i class="fa-brands fa-whatsapp"></i>
        <span>{{phone()}}</span>
      </div>
    </a>
    <div class="conteiner-usercard__data--email">
      <a [href]="'mailto:'+email()" target="_blank">
        <i class="fa-regular fa-envelope"></i>
        <span>{{email()}}</span>
      </a>
    </div>
  </div>
    <div class="conteiner-usercard__actions">
      <i class="fa-solid fa-info text-info" (click)="userInformation()" ></i>
      <!-- <i  class="fa-regular fa-pen-to-square text-warning"></i> -->
      <i class="fa-regular fa-trash-can text-danger" (click)="userDelete()"></i>
    </div>
</div>

