<div class="conteiner-maintenance">
  <div class="conteiner-maintenance__filters">

    @for( day of days; track $index ){
      <button class="btn btn-summary"
       (click)="setActive(day)"
       [ngClass]="{'active-filter': activeDay === day}"
       >{{day.label}}</button>
    }

  </div>
  <div class="conteiner-maintenance__cards">
    <app-smoll-sumary-card [name]="'Recibidos'" [amount]="joined()" [color]="colorPrimary" [gradient]="colorPrimaryGradient" />
    <app-smoll-sumary-card [name]="'En progreso'" [amount]="inProgress()" [color]="colorWarning" [gradient]="colorWarningGradient"/>
    <app-smoll-sumary-card [name]="'Autorización'" [amount]="authorization()" [color]="colorDanger" [gradient]="colorDangerGradient" />
    <app-smoll-sumary-card [name]="'Finalizados'" [amount]="finalized()" [color]="colorSuccess" [gradient]="colorSuccessGradient"/>
  </div>
  <div class="conteiner-maintenance__links">
    <a class="text-success " [routerLink]="'lista-mantenimientos'" routerLinkActive = "selected" >Mantenimientos</a>
    <a class="text-success" [routerLink]="'estadisticas-mantenimiento'" routerLinkActive = "selected" >Estadisticas</a>
  </div>
  <div class="conteiner-maintenance__principal">
    <router-outlet/>
  </div>
</div>
