<div class="conteiner-products">
  <div class="conteiner-products__filters">

    <!-- @for( day of days; track $index ){
      <button class="btn btn-summary"
       (click)="setActive(day)"
       [ngClass]="{'active-filter': activeDay === day}"
       >{{day.label}}</button>
    } -->

  </div>
  <div class="conteiner-products__cards">
    <app-smoll-sumary-card [name]="'Cant.Productos'" [amount]="totalProducts()" [color]="colorPrimary" [gradient]="colorPrimaryGradient" />
    <app-smoll-sumary-card [name]="'Stock'" [amount]="totalStock()" [color]="colorWarning" [gradient]="colorWarningGradient"/>
    <app-smoll-sumary-card [name]="'inventario'" [amount]="totalSalesPrice()" [color]="colorDanger" [gradient]="colorDangerGradient" [money]="true" />
    <app-smoll-sumary-card [name]="'Costo'" [amount]="totalCostPrice()" [color]="colorSuccess" [gradient]="colorSuccessGradient" [money]="true"/>
  </div>
  <div class="conteiner-products__links">
    <a class="text-success " [routerLink]="'lista-productos'" routerLinkActive = "selected" >Productos</a>
    <a class="text-success" [routerLink]="'estadisticas-productos'" routerLinkActive = "selected" >Estadisticas</a>
  </div>
  <div class="conteiner-products__principal">
    <router-outlet/>
  </div>
</div>
