<div class="conteiner-cardsuppliers">
  <div class="conteiner-cardsuppliers__name">
    <p>proveedor número uno S.A.S</p>
  </div>
  <div class="conteiner-cardsuppliers__data">
    <a href="tel: 3115283419" target="_blank">
      <div class="conteiner-cardsuppliers__data--phone">
        <i class="fa-solid fa-phone"></i>
        <span>311 528 3419</span>
      </div>
    </a>
    <a href="mailto:dario-yes@hotmail.com" target="_blank">
      <div class="conteiner-cardsuppliers__data--email">
        <i class="fa-regular fa-envelope"></i>
        <span>{{'dario-yes@hotmail.com'}}</span>
      </div>
    </a>
  </div>
  <div class="conteiner-cardsuppliers__actions">
    <i class="fa-solid fa-info text-info"></i>
    <i  class="fa-regular fa-pen-to-square text-warning"></i>
    <i class="fa-regular fa-trash-can text-danger"></i>
  </div>
</div>
