@import '../../../styles/variables/variables';
@import '../../../styles/variables/mediaq';
.dashboard{
  max-width: 100%;
  height: 100vh;
  background: $gray-200;
  &__header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:$primary;
    z-index: 900;
    app-header{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  &__content{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablets{
      position: relative;
    }

    &-navbar{
      position: fixed;
      top: 80px;
      left: 0;
      width: 250px;
      //height: 100vh;
      background-color: $gray-400;
      z-index: 100;
      @include tablets{
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
      }
      app-navbar{
        width: 100%;
        height: calc(100vh - 80px);
      }

    }
    &-main{
      position: absolute;
      top: 80px;
      right: 0;
      width: calc(100% - 250px);
      height: inherit;
      background-color: $gray-200;
      @include tablets{
        width: 100%;
      }

    }
  }

  .active{
    display: flex;
    animation: apearMenu .3s  both;
  }
  .inactive{
    animation: desactiveMenu .3s both;
  }

  @keyframes apearMenu {
    from{
      opacity: .2;
      translate: -500px 0;
    }
    to{
      opacity: 1;
      translate: 0 0;
    }
  }

  @keyframes desactiveMenu {
    from{
      opacity: 1;
      translate: 0 0;
      opacity: .2;
    }
    to{
      translate: -500px 0;
    }
  }

}
