<div class="conteiner-user">
  <div class="conteiner-user__filters">

    <!-- @for( day of days; track $index ){
      <button class="btn btn-summary"
       (click)="setActive(day)"
       [ngClass]="{'active-filter': activeDay === day}"
       >{{day.label}}</button>
    } -->

  </div>
  <div class="conteiner-user__cards">
    <app-smoll-sumary-card [name]="'C.Clientes'" [amount]="cantClientes()" [color]="colorPrimary" [gradient]="colorPruimaryGradient" />
    <app-smoll-sumary-card [name]="'Mujeres'" [amount]="cantFemale()" [color]="colorWarning" [gradient]="colorWarningGradient"/>
    <app-smoll-sumary-card [name]="'Hombre'" [amount]="cantMale()" [color]="colorDanger" [gradient]="colorDangerGradient" />
    <app-smoll-sumary-card [name]="'Promedio edad'" [amount]="averageAge()" [color]="colorSuccess" [gradient]="colorSuccessGradient"/>
  </div>
  <div class="conteiner-user__links">
    <a class="text-success " [routerLink]="'detalle-clientes'" routerLinkActive = "selected" >Usuarios</a>
    <a class="text-success" [routerLink]="'estadisticas-clientes'" routerLinkActive = "selected" >Estadisticas</a>
  </div>
  <div class="conteiner-user__principal">
    <router-outlet/>
  </div>
</div>

