<div class="conteiner-user">
  <div class="conteiner-user__filters">

    @for( day of days; track $index ){
      <button class="btn btn-summary"
       (click)="setActive(day)"
       [ngClass]="{'active-filter': activeDay === day}"
       >{{day.label}}</button>
    }

  </div>
  <div class="conteiner-user__cards">
    <app-smoll-sumary-card [name]="'C.Clientes'" [amount]="'120'" [color]="'#00264d'" [gradient]="'#9accff'" />
    <app-smoll-sumary-card [name]="'Mujeres'" [amount]="'80'" [color]="'#ffc107'" [gradient]="'#fff4d3'"/>
    <app-smoll-sumary-card [name]="'Hombre'" [amount]="'40'" [color]="'#dc3545'" [gradient]="'#f9dadd'" />
    <app-smoll-sumary-card [name]="'Promedio ins'" [amount]="'20'" [color]="'#198754'" [gradient]="'#b7f2d7'"/>
  </div>
  <div class="conteiner-user__links">
    <a class="text-success " [routerLink]="'detalle-clientes'" routerLinkActive = "selected" >Usuarios</a>
    <a class="text-success" [routerLink]="'estadisticas-clientes'" routerLinkActive = "selected" >Estadisticas</a>
  </div>
  <div class="conteiner-user__principal">
    <router-outlet/>
  </div>
</div>

