<div class="conteiner-directcosts">
  <div class="conteiner-directcosts__filters">

  </div>
  <div class="conteiner-directcosts__cards">
    <app-smoll-sumary-card [name]="'Recibidos'" [amount]="" [color]="colorPrimary" [gradient]="colorPrimaryGradient" />
    <app-smoll-sumary-card [name]="'En progreso'" [amount]="" [color]="colorWarning" [gradient]="colorWarningGradient"/>
    <app-smoll-sumary-card [name]="'Autorización'" [amount]="" [color]="colorDanger" [gradient]="colorDangerGradient" />
    <app-smoll-sumary-card [name]="'Finalizados'" [amount]="" [color]="colorSuccess" [gradient]="colorSuccessGradient"/>
  </div>
  <div class="conteiner-directcosts__search">

    <div class="conteiner-directcosts__search--new">
      <i class="fa-solid fa-circle-plus"></i>
    </div>

    <div class="conteiner-directcosts__search--item">

      <input #searchInput type="text" name="search" id="search" placeholder="Buscar...">

      <label for="search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>

    </div>

  </div>
  @defer( when directCostsPagination().response === 'success'){
  <div class="conteiner-directcosts__table">
    <table>
      <thead>
        <tr>
          <th class="column-0">Más</th>
          <th class="column-1">Nombre</th>
          <th class="column-2">Descripción</th>
          <th class="column-3">Cantidad</th>
          <th class="column-4">Total</th>
          <th class="column-5">Fecha</th>
          <th class="column-6">Categoría</th>
          <th class="column-7">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(item of directCosts(); track $index){

          <tr>
            <td class="column-0">
              <button (click)="toggleDetails(item)">+</button>
            </td>
            <td class="column-1">{{item.name}}</td>
            <td class="column-2">{{item.description}}</td>
            <td class="column-3">{{item.amount| number: '1.2-2'}}</td>
            <td class="column-4">${{item.price| number: '1.2-2'}}</td>
            <td class="column-5">{{item.created_at | date: 'dd/MM/yyyy'}}</td>
            <td class="column-6">{{item.categories_direct_costs.name}}</td>
            <td class="column-7">
              <i  class="fa-regular fa-pen-to-square text-warning"></i>
              <i class="fa-regular fa-trash-can text-danger"></i>
            </td>
          </tr>
          <tr class="row">
            @if(item.showDetails){
              <td colspan="8">
                 @if(!isColumnVisible('column-1')){
                  <div class="conteiner-directcosts__table--details">
                    <span>
                      Nombre
                    </span>
                    <p>{{item.name}}</p>
                  </div>
                }
                @if(!isColumnVisible('column-2')){
                  <div class="conteiner-directcosts__table--details">
                    <span>
                      Descripción
                    </span>
                    <p>{{item.description}}</p>
                  </div>
                }
                @if(!isColumnVisible('column-3')){
                  <div class="conteiner-directcosts__table--details">
                    <span>Cantidad</span>
                    <p>{{item.amount| number: '1.2-2'}}</p>
                  </div>
                }
                @if(!isColumnVisible('column-4')){
                  <div class="conteiner-directcosts__table--details">
                    <span>Total</span>
                    <p>{{item.price| number: '1.2-2'}}</p>
                  </div>
                }
                @if(!isColumnVisible('column-5')){
                  <div class="conteiner-directcosts__table--details">
                    <span>Fecha</span>
                    <p>{{item.created_at | date: 'dd/MM/yyyy'}}</p>
                  </div>
                }
                @if(!isColumnVisible('column-6')){
                  <div class="conteiner-directcosts__table--details">
                    <span>Categoría</span>
                    <p>{{item.categories_direct_costs.name}}</p>
                  </div>
                }
                @if(!isColumnVisible('column-7')){
                  <div class="conteiner-directcosts__table--details">
                    <span>Acciones</span>
                    <p>
                      <i  class="fa-regular fa-pen-to-square text-warning"></i>
                      <i class="fa-regular fa-trash-can text-danger"></i>
                    </p>
                  </div>
                }

              </td>
            }

          </tr>
        }@empty {
          <p class="text-danger" >No hay costos directos</p>
        }

      </tbody>
    </table>
  </div>
}@placeholder {
  <app-spiner-pages/>
}

<div class="conteiner-directcosts__pagination">
  <div class="conteiner-directcosts__pagination--links">
    @for(links of directCostsPagination()?.data?.links; track $index){
      @if( links.label === '&laquo; Anterior'){
        <a [ngStyle]="{'display':links.url ===null ?'none':'inline'}" (click)="pagination(directCostsPagination()?.data.prev_page_url)" ><i class="fa-solid fa-chevron-left"></i></a>
      }@else if(links.label ==='Siguiente &raquo;' ){
        <a [ngStyle]="{'display':links.url ===null ?'none':'inline'}" (click)="pagination(directCostsPagination()?.data.next_page_url)"><i class="fa-solid fa-chevron-right"></i></a>
      }@else{
        <a [ngClass]="links.active === true? 'active':''" (click)="pagination(links.url)">{{links.label}}</a>
      }
    }
  </div>
  <div class="conteiner-directcosts__pagination--page">
    <p>{{ directCostsPagination()?.data?.to }} / {{ directCostsPagination()?.data?.total }}</p>
  </div>
</div>


</div>
