<div class="conteinaer-supplierslist">

  <div class="conteinaer-supplierslist__search">

    <div class="conteinaer-supplierslist__search--new">
      <i class="fa-solid fa-circle-plus" (click)="newSupplierForm()" ></i>
    </div>

    <div class="conteinaer-supplierslist__search--item">

      <input #searchInput type="text" name="search" id="search" placeholder="Buscar...">

      <label for="search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>

    </div>

  </div>

  <div class="conteinaer-supplierslist__description">

    @defer( when suppliersPage().response === 'success'){

      @for(supplier of suppliers(); track $index){
        <app-suppliers-card
          [id]="supplier.id"
          [name]="supplier.name"
          [telephone]="supplier.phone1"
          [email]="supplier.email"
          (idInformation)="getIdInformation($event)"
          (idDelete)="confirmDeleteUser($event)"
        />

      }@empty {
        <p class="text-danger" >No hay proveedores</p>
      }
    }@placeholder {
      <app-spiner-pages/>
    }
    <div class="conteinaer-supplierslist__pagination">
      <div class="conteinaer-supplierslist__pagination--links">
        @for(links of suppliersPage()?.data?.links; track $index){
          @if( links.label === '&laquo; Anterior'){
            <a [ngStyle]="{'display':links.url ===null ?'none':'inline'}" (click)="pagination(suppliersPage()?.data.prev_page_url)" ><i class="fa-solid fa-chevron-left"></i></a>
          }@else if(links.label ==='Siguiente &raquo;' ){
            <a [ngStyle]="{'display':links.url ===null ?'none':'inline'}" (click)="pagination(suppliersPage()?.data.next_page_url)"><i class="fa-solid fa-chevron-right"></i></a>
          }@else{
            <a [ngClass]="links.active === true? 'active':''" (click)="pagination(links.url)">{{links.label}}</a>
          }
        }
      </div>
      <div class="conteinaer-supplierslist__pagination--page">
        <p>{{ suppliersPage()?.data?.to }} / {{ suppliersPage()?.data?.total }}</p>
      </div>
    </div>
  </div>
</div>
