<div class="conteinaer-productslist">

  <div class="conteinaer-productslist__search">

    <div class="conteinaer-productslist__search--new">
      <i class="fa-solid fa-circle-plus"></i>
    </div>

    <div class="conteinaer-productslist__search--item">

      <input type="text" name="search" id="search" placeholder="Buscar...">

      <label for="search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>

    </div>

  </div>

  <div class="conteinaer-productslist__description">
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
    <app-product-card/>
  </div>
</div>
