<div class="conteiner-directcosts">
  <div class="conteiner-directcosts__filters">

  </div>
  <div class="conteiner-directcosts__cards">
    <app-smoll-sumary-card [name]="'Recibidos'" [amount]="" [color]="colorPrimary" [gradient]="colorPrimaryGradient" />
    <app-smoll-sumary-card [name]="'En progreso'" [amount]="" [color]="colorWarning" [gradient]="colorWarningGradient"/>
    <app-smoll-sumary-card [name]="'Autorización'" [amount]="" [color]="colorDanger" [gradient]="colorDangerGradient" />
    <app-smoll-sumary-card [name]="'Finalizados'" [amount]="" [color]="colorSuccess" [gradient]="colorSuccessGradient"/>
  </div>
    <router-outlet/>


</div>
