<div class="conteiner-product">
  <div class="conteiner-product__img">
    <img src="../../../../../assets/images/predeterminada.jpg" alt="product.name" />
  </div>
  <div class="conteiner-product__description">
    <div class="conteiner-product__description--title">
      <h3>Nombre producto</h3>
    </div>
    <div class="conteiner-product__description--costs">
      <div class="costs">
        <p>Venta: 150.000</p>
        <p>Costo: 100.000</p>
      </div>
      <div class="stock" >
        <p>Stock:<span>10</span></p>
      </div>
    </div>
    <div class="conteiner-product__description--actions">
      <i class="fa-solid fa-info text-info"></i>
      <i  class="fa-regular fa-pen-to-square text-warning"></i>
      <i class="fa-regular fa-trash-can text-danger"></i>
    </div>
  </div>
</div>
