<div class="conteiner-product">
  <div class="conteiner-product__img">
    <img [src]="img()" [alt]="title()" />
  </div>
  <div class="conteiner-product__description">
    <div class="conteiner-product__description--title">
      <h3>{{title()}}</h3>
    </div>
    <div class="conteiner-product__description--costs">
      <div class="costs">
        <p>{{price() | currency:'COP'}}</p>
        <p>{{cost() | currency:'COP'}}</p>
      </div>
      <div class="stock" >
        <p>Stock:
          @if(stock() < 6){
            <span [ngStyle]="{'background':colorDanger}" >0{{stock() | number}}</span>
          }@else if (stock() < 11) {
            <span [ngStyle]="{'background':colorWarning}" >{{stock() | number}}</span>
          }@else if (stock() < 11) {
            <span [ngStyle]="{'background':colorWarning}" >0{{stock() | number}}</span>
          }@else{
            <span [ngStyle]="{'background':colorSuccess}" >{{stock() | number}}</span>
          }
        </p>
      </div>
    </div>
    <div class="conteiner-product__description--actions">
      <i class="fa-solid fa-info text-info"></i>
      <i  class="fa-regular fa-pen-to-square text-warning"></i>
      <i class="fa-regular fa-trash-can text-danger"></i>
    </div>
  </div>
</div>
