@import '../../../../../styles/variables/variables';
@import '../../../../../styles/variables/mediaq';
@import '../../../../../styles/variables/button';

.conteiner-suppliers{
  position: relative;
  top: 212px;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include tablets{
    top: 20px;
  }

  &__filters{
    //background-color: red;
    width: 100%;
    display: flex;
    align-items: start;
    gap: 5px;
    padding: 20px 0 5px 10px;
    @include tablets{
      padding-top: 0;
    }
    @include phone{
      align-items: center;
      justify-content: center;
    }

    .active-filter{
      background-color: $info;
      color: $white;
    }

  }
  &__cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 10px 10px 10px;
    @include tablets{
      padding-top: 0;
    }

    app-smoll-sumary-card{
      background-color: $white;
      //max-width: 300px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      flex: 1 0 200px
    }
  }
  &__links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    .selected{
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $success;
        left: 0;
        bottom: 0;
      }
    }

    a{
      background-color: $white;
      text-align: center;
      width: 100%;
      font-size: 18px;
      padding: 5px 0;
      cursor: pointer;
    }

  }
  &__principal{
    width: 100%;
    overflow: auto;
    padding: 0 10px;
  }
}
