<div class="conteinaer-userslist">

  <div class="conteinaer-userslist__search">

    <div class="conteinaer-userslist__search--new">
      <i class="fa-solid fa-circle-plus"></i>
    </div>

    <div class="conteinaer-userslist__search--item">

      <input type="text" name="search" id="search" placeholder="Buscar...">

      <label for="search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>

    </div>

  </div>

  <div class="conteinaer-userslist__description">
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
    <app-user-card/>
  </div>
</div>
